body {
  margin: 0; }

p {
  margin: 0; }

/*TERMINAN GLOBALES*/
.main-container {
  padding: 0 5%; }

.header {
  background-color: #DDDDDD;
  height: 120px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header__logo {
    width: 250px; }
    .header__logo img {
      width: 100%; }
  .header__slogan {
    width: 250px;
    position: relative;
    top: 70%; }
    .header__slogan img {
      width: 100%; }

.section {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  /*COMIENZAN LOS MEDIA QUERIES*/ }
  .section__intro {
    margin-bottom: 15px; }
    .section__intro h2 img {
      font-family: 'Roboto', sans-serif;
      color: #007c4c;
      margin-bottom: 8px; }
    .section__intro h2 span {
      font-family: 'PT Mono', monospace; }
  .section .main-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .section .main-card .card {
      width: 350px;
      padding: 5px;
      border: 1px solid gray;
      border-radius: 3px;
      margin-bottom: 10px;
      margin-right: 10px; }
      .section .main-card .card__image img {
        width: 100%;
        border-radius: 3px; }
      .section .main-card .card h4 {
        font-family: 'Roboto', sans-serif;
        color: #007c4c;
        margin-bottom: 8px; }
      .section .main-card .card p {
        font-family: 'PT Mono', monospace;
        text-align: justify; }
  @media screen and (max-width: 1024) {
    .section .card {
      width: 45%; } }
  @media screen and (max-width: 768px) {
    .section .main-card {
      display: flex; }
    .section .main-card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .section .main-card .card {
        width: 45%; } }
  @media screen and (max-width: 560px) {
    .section .main-container {
      padding: 0; }
    .section .header {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section .header__slogan {
        position: static; }
    .section .main-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section .main-card .card {
        width: auto; } }
