$green-dark:#007c4c;
$green-light:#88bf40;
$background: #DDDDDD;

@mixin simple-txt{
    font-family: 'PT Mono', monospace;
}
@mixin title-style {
    font-family: 'Roboto', sans-serif;
    color: $green-dark;
    margin-bottom: 8px;
}
@mixin header-config{
    height: 120px;
    padding: 20px 40px;
}
@mixin center-heder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin section-config {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
@mixin main-card-config {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}

@mixin card-config {
    width: 350px;
    padding: 5px;

    border: 1px solid gray;
    border-radius: 3px;

    margin-bottom: 10px;
    margin-right: 10px;
}

/*TERMINAN VARIABLES, MIXINS, ETC.*/

body{
    margin: 0;
}
p{
    margin: 0;
}
/*TERMINAN GLOBALES*/

.main-container{
    padding: 0 5%;
}

.header{
    background-color: $background;
    @include header-config();
    @include center-heder();

    &__logo{
        width: 250px;
        img{
            width: 100%;
        }
    }
    &__slogan{
        width: 250px;
        position: relative;

        top: 70%;
        img{
            width: 100%;
        }
    }
}

.section{
    @include section-config;
    &__intro{
        margin-bottom: 15px;
        h2{
            @include title-style();
        }
        span{
            @include simple-txt();
            
        }
    }
}

.main-card{
    @include main-card-config;
    .card{
        @include card-config;
        &__image{        
            img{
                width: 100%;
                border-radius: 3px;
            }
        }
        h4{
            @include title-style()
        }
        p{
            @include simple-txt();
            text-align: justify;
        }
    }

}

@media screen and (max-width: 768px){
    .main-card{
        display: flex;
    }
    .card{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 560px){
    .main-container{
        padding: 0;
    }
    .header{
        display: flex;
        flex-direction: column;
        
        align-items: center;

        &__slogan{
            position: static;
        }
    }
    .main-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card{
            width: auto;
        }
    }
}
